/*
Theme Name:  Melody
Theme URI:   https://classicpress-themes/
Author:      Tradesouthwest
Author URI:  https://tradesouthwest.com/
Description: melody is a grid based theme templated for general website use. Demo at https://melody.tradesnet.us/
Requires PHP: 7.4
Requires CP:  1.4
Version:     1.0.1
License:     GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:        one-column, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header,sticky-post, threaded-comments, translation-ready, blog
Text Domain: melody

This theme, like ClassicPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/* === CSS Index ===
 * I - Page Model 
 * II - Content Elements 
 * III - Article Content 
 * IV - Navigation Elements 
 * V - WP Requires 
 * VI - Media Queries 
 */
/* ************************************************** I - Page Model */ 
/* For demo - remove at release */
a, a:visited{color: royalblue}
body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: ui-sans-serif, "Helvetica Neue", Arial, Helvetica, system-ui, sans-serif;
    color: rgb(40, 46, 50);
    min-height:100vh;
    line-height: 1.48;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
.wrapper{
    padding: 0;
    margin-right:auto;
    margin-left:auto;
    box-shadow: 0 0 1px 0 #ddd;
    overflow:hidden;
}
.parent {
    display: grid;
    grid-template-columns: minmax(0, 4fr); 

    margin-right:auto;
    margin-left:auto;
    margin-top: 0;
    /*
    grid-template-columns: 1fr minmax(0, 3fr);*/
}
body, div, main, article, section, header, footer, nav, aside, span {
    box-sizing: border-box;
}

.wide-container,
.melody-heading-meta{
    display: grid;
    grid-template-columns: 1fr;
    width:100%;
}
.page-template-three-columns .second-child{
    width: auto;
} 
.second-child{
    margin-left: 0;
}
.first-child{
    margin-right: 0;
                             
}
.third-child{
    margin-left: 0;
}
.footer-base{
    display: flex;
    flex-direction: row; 
    padding: .825em 1em;
} 
.inner-wide-header{
    display: flex;
    flex-direction: column;
min-height: 1px;
  width: 100%;
} 
.inner-wide-header > .hsection{
    flex: 1 1 100%;
    flex-shrink: 1;
}
.hgroup{
    order: 2;
    width: 100%;
    text-align: center;
}
.logo-top{
    order: 1;
    width: 100%;
    text-align: center;
}
.melody-search-top{
    order: 3;
    width: 100%;
    margin-left: 1em;
    margin-top: 2em;
}
.logo-top img{
    height: 100px;
    margin-top: .4em;
}

.padded{
   padding: .825em 1.68em
}
/* ************************************************** II - Content Elements */
/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    line-height: 1.485;
}
h1, h2, h3, h4, h5, h6{
    margin: .25em 0;
    padding:0;
    color: #48494a
}
h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.75em;
  }
  h3 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.25em;
  }
  h5 {
    font-size: 1em;
  }
  h6 {
    font-size: 0.85em;
  }

img, picture, video, canvas, svg {
    border-style: none;
    height: auto;
    max-width: 100%;

}
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}
/* must have higher specificity than alternative color schemes inline styles */
.skip-link {
    background-color: #f1f1f1;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #21759b;
    display: block;
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    left: -9999em;
    outline: none;
    padding: 15px 23px 14px;
    text-decoration: none;
    text-transform: none;
    top: -9999em;
}
.logged-in .skip-link {
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    font-family: "Open Sans", sans-serif;
}
.skip-link:focus {
    clip: auto;
    height: auto;
    left: 6px;
    top: 7px;
    width: auto;
    z-index: 100000;
}
a:active, a:hover {
    outline: 0;
}
table th,
table td{
    padding:2px 3px;
}
/* ************************************************** II - Article Elements */
article.page .wp-caption img,
article.post .wp-caption img{
    max-width: calc( 85.2% - 2em );
}
.melody-home-post-wrap{
    display: flex;
    flex-direction: row;
    margin-top: 1.222em;
}
.excerpt-post-heading{
    display: inherit;
    padding: 0;
  margin: 0;
  min-height: 6.05em;
    width: 20%;
    overflow: hidden;
}
.melody-excerpt-wrap{
    display: inherit;
    flex-direction: column;
    width: 80%
} /*
.blog .melody-home-post-wrap .linked-attachment-container .melody-featured{
    width:  8em;
    height: 8em;
} */
.excerptwrap-link{
    height: 100%;
    display: inherit;
}
.melody-post-heading{
    font-size: 1.644em;
    font-weight: 400;
}
.post-excerpt-heading,
.inner-article-content{
    max-width: 94.6%;
}
.single .linked-attachment-container{
   box-shadow:none;
   border: 0; /*
   background: transparent; 
   margin-bottom: 1.4em; */
    width:100%;
}
    /*background: linear-gradient( #fafafa, #fdfdfd, #f9f9f9 );*/
.blog .linked-attachment-container{
    display: inline-block;
    position: relative;
    margin: .4445em 1em;
    border: thin solid #eee;
    width: 8em;
    height: 8em;
}

article.page .wp-caption img,
article.post .wp-caption img{
    max-width: 75%;
}

.upto-section{
    display: flex;
    align-items: center;
}
.back_to_top{
    color: #000;
    font-size: xx-large;
    text-shadow: 0 1px 1px #eee;
    border: 1px solid #000;
    box-shadow: 0 0 1px 1px #eee;
    height: 1em;
    width: 1em;
    cursor: pointer
}
.upto-section sup{
    position:relative;
    top: 0;
    left: 32%;

}
.back_to_top-show {
    display: flex;
  }
  .upto-section,
  .site-copyright-section{
      width: 50%;
  }


/* ************************************************** IV - Navigation Elements */  
.pagination-nav{
    width: 100%;
    min-height: 1em;
    flex-direction: column;
}
.prevpst-nav,
.nextpst-nav{
    padding: 6px 12px;
    margin: 0 1em;
    font-size: larger;
    font-weight: bold;
    background: #f7f7f7;
    box-shadow: 1px 2px 1px 0px #ccc;
}
.prevpst-nav:hover,
.nextpst-nav:hover,
.prevpst-nav:focus,
.nextpst-nav:focus,
.prevpst-nav:focus-within,
.nextpst-nav:focus-within{
    background: #cde;
    border-bottom: thin dotted #000
}
.navbar-toggle{
    visibility: visible;
    margin-left: 2em;
    cursor: pointer;
}  
.page-nav-wrapper{
    padding-top: 0;
    line-height: inherit;
    justify-content: flex-start;
}
.page-nav-wrapper ul{
    margin-left: initial;
    margin-right: initial;
}
.page-nav-wrapper ul li{
    list-style-type: none;
    
}
.page-nav-wrapper a{
    text-decoration: none;
}
.menu-item-has-children{
    margin-top: .5em;
}
/* ************************************************** V - WP Requiires   */  

.alignleft {
	float: left;
	margin: 0.375em 1.75em 1.75em 0;
}

.alignright {
	float: right;
	margin: 0.375em 0 1.75em 1.75em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto 1.75em;
}

blockquote.alignleft {
	margin: 0.3157894737em 1.4736842105em 1.473684211em 0;
}

blockquote.alignright {
	margin: 0.3157894737em 0 1.473684211em 1.4736842105em;
}

blockquote.aligncenter {
	margin-bottom: 1.473684211em;
}
.widget {
	border-top: 2px solid transparent;
	margin-bottom: 3.5em;
	padding-top: 1.75em;
}
.widget.widget_search{
    border-top: 0;
}
.widget-area > :last-child,
.widget > :last-child {
	margin-bottom: 0;
}
/* Calendar widget */
.widget.widget_calendar table {
	margin: 0;
}

.widget_calendar td,
.widget_calendar th {
	line-height: 2.5625;
	padding: 0;
	text-align: center;
}

.widget_calendar caption {
	font-weight: 900;
	margin-bottom: 1.75em;
}

.widget_calendar tbody a {
	background-color: #007acc;
	color: #fff;
	display: block;
	font-weight: 700;
}

.widget_calendar tbody a:hover,
.widget_calendar tbody a:focus {
	background-color: #686868;
	color: #fff;
}
/* Tag Cloud widget */
.tagcloud a {
	border: 1px solid #d1d1d1;
	border-radius: 2px;
	display: inline-block;
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1;
	margin: 0 0.1875em 0.4375em 0;
	padding: 0.5625em 0.4375em 0.5em;
}

.tagcloud ul {
	list-style-type: none;
	margin-left: 0;
}

.tagcloud ul li {
	display: inline-block;
}

.tagcloud a:hover,
.tagcloud a:focus {
	border-color: #007acc;
	color: #007acc;
	outline: 0;
}

.sticky-post {
	color: #686868;
	display: block;
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-size: 0.8125rem;
	letter-spacing: 0.076923077em;
	line-height: 1.6153846154;
	margin-bottom: 0.5384615385em;
	text-transform: uppercase;
}

.comments-area {
	margin: 0 7.6923% 3.5em;
}

.comment-list + .comment-respond,
.comment-navigation + .comment-respond {
	padding-top: 1.75em;
}

.comments-title,
.comment-reply-title {
	border-top: 4px solid #1a1a1a;
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 23px;
	font-size: 1.4375rem;
	font-weight: 700;
	line-height: 1.3125;
	padding-top: 1.217391304em;
}

.comments-title {
	margin-bottom: 1.217391304em;
}

.comment-list {
	list-style: none;
	margin: 0;
}

.form-allowed-tags code {
	font-family: Inconsolata, monospace;
}
/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object,
video {
	margin-bottom: 1.75em;
	max-width: 100%;
	vertical-align: middle;
}

p > embed,
p > iframe,
p > object,
p > video {
	margin-bottom: 0;
}

.wp-caption {
	margin-bottom: 1.75em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
}

.wp-caption .wp-caption-text {
	color: #686868;
	font-size: 13px;
	font-size: 0.8125rem;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}

.gallery {
	margin: 0 -1.1666667% 1.75em;
}

.gallery-item {
	display: inline-block;
	max-width: 33.33%;
	padding: 0 1.1400652% 2.2801304%;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-icon img {
	margin: 0 auto;
}

.gallery-caption {
	color: #686868;
	display: block;
	font-size: 13px;
	font-size: 0.8125rem;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}






/* ************************************************** VI - Media Queries */  
@media screen and ( min-width: 1440px ){

.wrapper{
    max-width: 1480px;
    margin: 0 auto;
   }
} 

@media screen and ( min-width: 980px ){
    .parent{
        grid-template-columns: 1fr minmax(0, 3fr);
        min-height: 66vh;
        display: grid;
    }
    .page-template-three-columns .parent{
        grid-template-columns: 1fr minmax(0, 3fr) 1fr;

    }
    .first-child{
        margin-right: 1px;  
    }
    .second-child{
        margin-left: 1px;  
        min-width: 290px;   
    }
    .third-child{
        margin-left: 2px;
    }
    .third-child.padded{
        padding-left: 1.75em
    } 
    .inner-wide-header{
        flex-direction: row;
        justify-content: center;
        align-items: center;       
        min-height: 1px;
        width: 100%;
    } 
    .inner-wide-header > .hsection{
        padding: 0 1em;
        line-height: 1.486;
    } 
    .hgroup{
        order: 2;
    }
    .logo-top{
        order: 3;
    }
    .melody-search-top{
        order: 1;
        margin-top: 2.75em;
    } 
    .page-nav-wrapper a{
        font-weight: 400;
    }
    .navbar-toggle{
        visibility: hidden;
    }
} 
.melody_visible{
    visibility: hidden;
    height: 1px;
    width: 1px;
    display: inline-block;
}